body {
  background: linear-gradient(to bottom, #ffe6f2, #ffb3d9);
  text-align: center;
  font-family: Arial;
  padding: 20px;
  overflow-x: hidden;
}

/* START SCREEN */
#startScreen {
  margin-top: 200px;
}

.startBtn {
  background: #ff1a75;
  color: white;
  padding: 15px 25px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  width: 200px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px pink;
}

.letter {
  background: white;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
}

/* HEARTS BACKGROUND */
.hearts span {
  position: fixed;
  bottom: -10px;
  animation: rise 8s linear infinite;
  color: #ff4da6;
  font-size: 20px;
}

@keyframes rise {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-1000px); opacity: 0; }
}

.btn {
  background: #ff4da6;
  color: white;
  padding: 12px;
  margin: 10px;
  border: none;
  border-radius: 10px;
}
