body {
  background: linear-gradient(to bottom, #ffe6f2, #ffb3d9);
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'Dancing Script', cursive;
}

.hidden { display: none; }

/* START SCREEN CENTER */
#startScreen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startBtn {
  padding: 18px 32px;
  font-size: 26px;
  background: #ff1a75;
  color: white;
  border: none;
  border-radius: 20px;
  font-family: 'Great Vibes', cursive;
  cursor: pointer;
}

/* SPLIT LAYOUT */
.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* LEFT IMAGE */
.left {
  width: 45%;
  text-align: center;
}

.dayImage {
  width: 360px;
  border-radius: 20px;
  opacity: 0;
  animation: fadeIn 1.6s forwards;
}

/* RIGHT TEXT */
.right {
  width: 50%;
  padding: 20px;
  font-size: 26px;

  opacity: 0;
  animation: showText 1s forwards;
  animation-delay: 1.6s;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 44px;
}

@keyframes fadeIn { to { opacity: 1; } }
@keyframes showText { to { opacity: 1; } }

.btn {
  background: #ff4da6;
  color: white;
  padding: 12px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-size: 22px;
  font-family: 'Dancing Script', cursive;
}

.no { position: relative; }

/* HEARTS */
.hearts span {
  position: fixed;
  bottom: -10px;
  animation: rise 8s linear infinite;
}

@keyframes rise {
  0% { transform: translateY(0); }
  100% { transform: translateY(-1000px); }
}
