body {
  background: linear-gradient(to bottom, #ffe6f2, #ffb3d9);
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'Dancing Script', cursive;
}

.hidden { display: none; }

.startBtn {
  margin-top: 40vh;
  padding: 16px 26px;
  font-size: 24px;
  background: #ff1a75;
  color: white;
  border: none;
  border-radius: 15px;
  font-family: 'Great Vibes', cursive;
}

/* SPLIT LAYOUT */
.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* LEFT IMAGE */
.left {
  width: 45%;
  text-align: center;
}

.dayImage {
  width: 360px;
  border-radius: 20px;

  opacity: 0;
  animation: fadeIn 1.6s forwards;
}

/* RIGHT TEXT */
.right {
  width: 50%;
  padding: 20px;
  font-size: 26px;
  line-height: 1.3;

  opacity: 0;
  animation: showText 1s forwards;
  animation-delay: 1.6s;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 42px;
}

@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes showText {
  to { opacity: 1; }
}

.btn {
  background: #ff4da6;
  color: white;
  padding: 12px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
}

.no { position: relative; }

/* hearts */
.hearts span {
  position: fixed;
  bottom: -10px;
  animation: rise 8s linear infinite;
}

@keyframes rise {
  0% { transform: translateY(0); }
  100% { transform: translateY(-1000px); }
}
