body {
  background: linear-gradient(to bottom, #ffe6f2, #ffb3d9);
  text-align: center;
  font-family: Arial;
}

.hidden { display: none; }

.startBtn {
  margin-top: 200px;
  padding: 15px 25px;
  font-size: 20px;
  background: #ff1a75;
  color: white;
  border: none;
  border-radius: 15px;
}

img {
  width: 220px;
  margin: 10px;
  border-radius: 15px;
}

.btn {
  background: #ff4da6;
  color: white;
  padding: 12px;
  margin: 10px;
  border: none;
  border-radius: 10px;
}

.no {
  position: relative;
}

/* hearts */
.hearts span {
  position: fixed;
  bottom: -10px;
  animation: rise 8s linear infinite;
}

@keyframes rise {
  0% { transform: translateY(0); }
  100% { transform: translateY(-1000px); }
}
